server {
    listen ${PORT} default_server;
    listen [::]:${PORT} default_server;
    server_name _;
    root /usr/share/nginx/html;
    index index.html;
    absolute_redirect off;
    port_in_redirect off;

    location = /mome {
        return 301 /mome/;
    }

    location ^~ /mome/fotos/ {
        expires -1;
        add_header Cache-Control "no-cache, must-revalidate";
    }

    location /mome/ {
        try_files $uri $uri/ /mome/index.html;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }

    location ~* \.(css|js|svg|png|jpg|jpeg|gif|webp|mp3|woff2)$ {
        expires 7d;
        add_header Cache-Control "public";
    }
}
